@import "bootstrap/_bootstrap-stresstime.scss";
@import "bootstrap/_bootstrap.scss";
@import "animate/animate.scss";
@import "hover/hover.scss";

/* TODO: Extract this */
@mixin select($value) {
    -webkit-touch-callout: $value;
    -webkit-user-select: $value;
    -khtml-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

body {
    padding-top: 50px;
}

.navbar-nav li a.with-icon {
    height: 20px;
}

$blue: #398BCA;
$dark-red: #C41E1E;
$light-red: #E06969;
/* $grey-N: higher N means darker */
$grey-0: #F5F5F5; /* Sidebar and title bgs */
$grey-1: #EEEEEE; /* Lighter months on calendar */
$grey-2: #D9D9D9; /* Darker months and (+) employee button bg */
$grey-3: #A6A6A6; /* Title text color */
$grey-4: #828282; /* + inside (+) button */

$grey-2p5: mix($grey-2, $grey-3);

/* Global admins icon */

.global-admins-icon {
    cursor: pointer;
    font-size: 20px;
}

/* Text rotation */

.rotate90deg {
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
}

/* Login-Logout buttons */

.login-button {
    margin: 7px 7px 7px 20px;
}

/* Responsiveness */

$inner-padding: 15px;

.main { padding: 0 $inner-padding; }
.st-progress-bar, .header { margin: 0 (-$inner-padding); }
.left-bar { margin: 0 $inner-padding 0 0; }
.right-bar { margin: 0 0 0 $inner-padding; }

/* Calendar */

$light-fg: #FFFFFF;
$dark-fg: $grey-4;

$selected-bg: #2EC3E5;
$odd-bg: $grey-2;
$even-bg: $grey-1;
$today-bg: #FD8845;

$day-border-thickness: 5px;

@mixin colorize-day($color) {
    @include even-odd-bg($color, 7%);
    .hoverable &:hover, &.selected {
        @include even-odd-bg(mix($selected-bg, $color, 80%), 7%);
    }
    .hoverable &.selected:hover {
        @include even-odd-bg(mix(lighten($selected-bg, 10%), $color, 70%), 7%);
    }
}

@mixin even-odd($property-name, $color, $amount: 0%) {
    #{$property-name}: $color;
    &.odd { #{$property-name}: darken($color, $amount); }
    &.even { #{$property-name}: lighten($color, $amount); }
}

@mixin even-odd-bg($color, $amount) {
    @include even-odd(background-color, $color, $amount);
}

.view-calendar td, .view-calendar th {
    @include select(none);
}

$calendar-cell-spacing: 4px;

.view-calendar, .legend {
    border-collapse: separate;
    border-spacing: $calendar-cell-spacing;
}
.view-calendar-wrapper {
    display: inline-block;
    overflow: scroll !important;
}
.month, .day {
    color: $dark-fg;
    border-radius: 2px;
    font-size: 15px;
    cursor: default;
}
.month {
    width: 85px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

.day {
    vertical-align: middle;
    text-align: center;
    cursor: default;
}
.day.odd, .month.odd {
    color: $dark-fg;
    background-color: $odd-bg;
}
.day.even, .month.even {
    color: $dark-fg;
    background-color: $even-bg;
}
.hoverable .day:hover, .day.hover {
    color: $light-fg;
    @include even-odd-bg($selected-bg, 7%);
}
.day.selected {
    color: $light-fg;
    @include even-odd-bg($selected-bg, 7%);
    .hoverable &:hover {
        @include even-odd-bg(lighten($selected-bg, 10%), 7%);
    }
}

.day.today {
    border: $day-border-thickness solid $today-bg;
    color: $light-fg;
    background-color: $today-bg;
}

.calendar-header {
    border-spacing: $calendar-cell-spacing 0;
    position: absolute;
}
.calendar-header .month {
    vertical-align: middle;
    text-align: center;
}
.calendar-header .day, .calendar-header .month {
    color: #E9E9E9;
    background-color: $grey-4;
}

/* Group View Calendar */

$assigned-bg: #6FDF6F;
$mid-assigned-bg: #EFC932;

.day.assigned {
    color: $light-fg;
    @include colorize-day($assigned-bg);
}
.day.mid-assigned {
    color: $light-fg;
    @include colorize-day($mid-assigned-bg);
}

/* Availability Calendar */

/* Loading */

/*$shimmer-width: 35px;

@include keyframes(moving-day-bg) {
    0%   { background-position: (-$shimmer-width/2) 0; }
    100% { background-position: ($day-width - $shimmer-width/2) 0; }
}

@mixin shimmer($color) {
    background: linear-gradient(to right,
        $color 1%,
        lighten($color, 3%) 35%,
        lighten($color, 3%) 65%,
        $color 99%
    ) no-repeat $color;
    background-size: $shimmer-width 100%;
}*/

.week.pending .day.empty {
    color: lighten($dark-fg, 20%);
    &.odd { background-color: lighten($odd-bg, 5%); }
    &.even { background-color: lighten($even-bg, 5%); }

    /* Animation is too demanding */
    /*&.odd { @include shimmer($odd-bg) }
    &.even { @include shimmer($even-bg) }
    @include prefixed(animation, moving-day-bg .8s ease-in-out 0s infinite alternate none running);*/
}


/* Header */

.header {
    color: $grey-3;
    font-size: 22px;
    background-color: $grey-0;
    border-bottom: 1px solid $grey-1;
    padding: 18px 15px 17px 15px;
}


/* Dual pane */

.sidebar {
    padding: 15px 0 0 0;
    background-color: #f5f5f5;
    height: 100%;
}

.dual-pane {
    position: fixed;
    top: 51px;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.dual-pane .view-calendar-wrapper {
    /* height: Height defined on runtime */
    /* TODO: Remove scrolbar */
    height: 700px;
}

.dual-pane .sidebar {
    padding: 20px;
}

.dual-pane .sidebar .top-search {
    margin: -20px -20px 0 -20px;
    padding: 13px 12px 13px 12px;
    background-color: $grey-1;
}

.dual-pane .sidebar ul {
    margin: 0 -20px;
}

.dual-pane .sidebar .active, .dual-pane .sidebar .active a {
    color: #FFFFFF;
    background-color: $blue;
}

.dual-pane .span-height {
    height: 100%;
}

/* Group tab */

.calendar-wrap {
    display: table;
    margin: 0 auto;
    position: relative;
    padding-top: $inner-padding;
}

.left-bar {
    float: left;
    width: 144px;
}

.right-bar {
    float: right;
    /* Making up space for the legend */
    width: 150px;
    height: 50px;
}

.legend {
    color: $grey-4;
    position: absolute;
    bottom: 6px;
    padding-top: 10px;
    margin-left: -$calendar-cell-spacing;

    &.full {
        background-color: #FFFFFF;
    }

    .description {
        padding-left: 5px;
    }
}

.tools {
    text-align: right;
    margin: 0 0 20px 0;
}

.invisible {
    visibility: hidden;
}

/* Stamps */

.stamp {
    width: 106px;
    padding: 12px 0 12px 0;
    border-radius: 4px;
    text-align: center;
    position: relative;
    margin-bottom: 21px;
}

.right-bar .stamp {
    margin-bottom: 17px;
}

.stamp .sub-label {
    font-size: 19px;
}
.stamp .main-label {
    font-size: 32px;
    line-height: 38px;
}

.day-stamp {
    color: #FFF;
    background-color: #2EC3E5;
    float: right;
}

.day-stamp.today {
    color: $light-fg;
    background-color: $today-bg;
}



.selection-stamp {
    color: #FFF;
    background-color: #2EC3E5;
    float: left;
    cursor: pointer;
}

.selection-stamp:hover {
    background-color: $light-red;
}

/* Employee card */

.employee-card {
    padding-top: 6px;
    padding-bottom: 6px;
    color: $grey-4;
}

.employee-card.hoverable:hover {
    background-color: $grey-1;
}

.employee-card .avatar-wrapper {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.employee-card .avatar-wrapper.with-image img {
    border-radius: 50%;
}

.employee-card .avatar-wrapper.with-image .text-hover {
    display: none;
}

.employee-card .avatar-wrapper.with-image:hover .text-hover {
    font-size: 32px;
    display: inline;
    color: #FFF;
}

.employee-card .avatar-wrapper .avatar-image-wrapper {
    width: 50px;
    height: 50px;
    position: relative;
}

.employee-card .avatar-wrapper .avatar-image-wrapper .avatar-image {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Refactor styles to use SASS nesting */

.employee-card .avatar-wrapper .avatar-image-wrapper .admin-icon {
    font-size: 14px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    top: 34px;
    left: 37px;
    text-align: center;
    background: $grey-0;
    display: none;
}

.employee-card .avatar-wrapper .avatar-image-wrapper .admin-icon.editable {
    cursor: pointer;
}

.employee-card .avatar-wrapper .avatar-image-wrapper .admin-icon.global-admin {
    display: inherit;
    cursor: inherit;
    color: #dbb800;
}

.employee-card .avatar-wrapper .avatar-image-wrapper .admin-icon .delete-admin {
    display: none;
}

.employee-card .avatar-wrapper .avatar-image-wrapper .admin-icon.is-admin {
    opacity: 1;
    display: inherit;
}

.employee-card:hover .avatar-wrapper .avatar-image-wrapper .admin-icon.not-admin.editable {
    display: inherit;
    opacity: 0.7;
}

.employee-card .avatar-wrapper .avatar-image-wrapper .admin-icon.not-admin.editable:hover {
    @include pulse(.6s);
    opacity: 1;
}

.employee-card .avatar-wrapper .avatar-image-wrapper .admin-icon.is-admin.editable:hover .glyphicon {
    display: none;
}

.employee-card .avatar-wrapper .avatar-image-wrapper .admin-icon.is-admin.editable:hover .delete-admin {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    height: 6px;
    color: white;
}

.employee-card .avatar-wrapper .avatar-image-wrapper .admin-icon.is-admin.editable:hover {
    background-color: #CC5555;
}

.employee-card .avatar-wrapper.no-image {
    font-size: 31px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.employee-card .ui-widget input.form-control {
    font-size: 13px;
}

$add-bg: $grey-2;

.employee-card .avatar-wrapper.add {
    color: $grey-4;
    background-color: $add-bg;
    position: relative;
}

.employee-card .avatar-wrapper.add.selected-employee-add span {
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    text-shadow: 0 0 5px #000, 0 0 10px #000;
}

.employee-card .avatar-wrapper.add.selected-employee-add::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.25);
    border-radius: 50%;
}

.employee-card .avatar-wrapper.add.selected-employee-add:hover {
    @include pulse(.6s);
    &::before {
        display: none;
    }
    span {
        display: none;
    }
}

.employee-card .avatar-wrapper.add:hover {
    color: #E9E9E9;
    background-color: $grey-4;
}

.employee-card .name {
    display: table-cell;
    /* No idea why setting width as below worked and made the input span the entire parent */
    width: 999999px;
    height: 50px;
    vertical-align: middle;
    padding: 6px 0px 0 10px;

    &.with-input {
        padding-top: 0;
    }

    span {
        display: inline-block;
        overflow: hidden;
    }
}

.clear {
    clear: both;
}

.mini-assignment-type-label {
    border-radius: 2px;
    padding: 2px 0px 1px 0px;
    color: #ffffff;
    font-size: inherit;
    display: inline-block;
    text-align: center;
    opacity: 0.7;
    float: right;
}

.no-assignments-label {
    opacity: 0.15;
}

.employee-card:hover .mini-assignment-type-label {
    opacity: 1.0;
}

.employees-container {
    margin-bottom: 10px;
}

.overflow-scroll {
    overflow: scroll;
}

/* AssignmentType buckets */

.assignment-type-buckets {
    /* On top of legend  */
    position: relative;
    /*z-index: 1;*/
    background-color: #FFFFFF;
    /* Idk why, but below works */
    padding-bottom: 1px;
}

.bucket {
    border: 1px dashed $grey-3;
    border-radius: 4px;
    width: 150px;
    margin: 0 0 17px 0;
    background-color: $grey-0;
    padding: 27px 5px 5px 5px;
    position: relative;
}

.bucket .bucket-name {
    color: mix($grey-4, $grey-3, 60%);
    font-size: 14px;
    margin: 5px;
    position: absolute;
    top: 3px;
    left: 5px;
}

.bucket .bucket-content {
    &::-webkit-scrollbar {
        display: none;
    }
    overflow: scroll;
    min-height: 45px;
}

.bucket .bucket-content .assigned-employee {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 14%;
    position: relative;
}

.bucket .bucket-content .assigned-employee img {
    max-width: 35px;
    max-height: 35px;
    border-radius: 14%;
    opacity: 0.75;
}

.bucket .bucket-content .assigned-employee.is-admin {
    cursor: pointer;

    .minus-span {
        font-size: 30px;
        color: white;
        visibility: hidden;
        position: absolute;
        top: -6px;
        left: 11px;
    }

    &:hover {
        background-color: $light-red;

        .minus-span { visibility: visible; }
        img { visibility: hidden; }
    }
}

/* New Group form */

.new-group-form {
    padding: 10px 10px 0px 10px;
}

/* Group list */

a[disabled] {
    pointer-events: none;
}


.nav li.groups-divider {
    background-color: darken($grey-2, 5%);
    font-size: 13px;
    text-align: center;

    &, a {
        color: $light-fg;
    }
    a {
        text-shadow: 0 0 2px rgba(#000000, 0.2);
        padding: 4px 15px;
    }
}

.group-item {
    .glyphicon {
        top: 2px;
        left: 3px;
        opacity: 0.2;
    }

    &:hover .glyphicon {
        opacity: 1;
    }
}
/* Deletable card */

$delete-bg: $dark-red;

.deletable-card {
    position: relative;
}

.deletable-card .delete {
    position: absolute;
    top: 23%;
    right: 15px;
    display: none;
    font-size: 30px;
    color: white;
    height: 21px;
    width: 23px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $light-red;
}

.deletable-card .delete div {
    text-align: center;
    position: absolute;
    top: -62%;
    width: 23px;
}

.deletable-card:hover .delete {
    display: block;
}

.deletable-card .delete:hover {
    display: block;
    background-color: $delete-bg;
}

.deletable-card.employee-card .delete div {
    top: -65%;
}

.deletable-card.employee-card .delete {
    top: 32%;
}

.deletable-card.employee-card .delete {
    float: right;
    margin-right: 4px;
    position: inherit;
    padding-top: 0.5px;

    div {
        position: relative;
    }
}

.st-input-button  {
    padding-top: 6px;
    padding-bottom: 7px;
}

/* Drag and drop */

.drag-over {
    border: 1px dashed black !important;
}

.drop-target {
    opacity: .5;
}

.drag-in-progress * {
    pointer-events: none !important; /* prevent children to interfere with drag and drop */
}

[draggable] {
    cursor: move;
    cursor: -webkit-grab; // hand for chrome and safari
}

/* Assignment types */

$assignment-colors: #37af8e, #e06636, #34a5b4, #dac63a, #fc8686, #bbbbbb, #94e057, #aa11cc, #1ba2a5, #123456;

@for $i from 1 through length($assignment-colors) {
    .assignment-color-#{$i - 1} {
        background: nth($assignment-colors, $i);
    }
}

.assignment-type-label {
    float: right;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    padding: 7px 30px 7px 29px;
    margin-left: 20px;
    color: white;

    font-weight: normal;
    cursor: pointer;
    position: relative;

    .delete {
        position: absolute;
        right: -6px;
        top: 6px;
        border-radius: 8px;
        color: $delete-bg;
        background-color: $grey-0;
        padding: 0px 3px 1px 3px;
        font-size: 18px;
        line-height: 12px;
        border: 1px solid $delete-bg;
        visibility: hidden;

    }

    &:hover {
        background-color: $delete-bg;

        .delete {
            visibility: visible;

            &:hover {
                color: #FFFFFF;
                background-color: $delete-bg;
            }
        }
    }

}

.add-assignment-type {
    cursor: pointer;
    float: right;
    font-size: 38px;
    margin-top: -13px;
    color: $grey-3;
}

.add-assignment-type:hover {
    color: darken($grey-3, 20%);
}

.assignment-types-wrapper {
    float: right;
    margin-top: -1px;
}

.assignment-type-form {
    float: right !important;
    width: 150px;
    margin-right: 20px;
    margin-top: -5px;
    font-weight: normal;
}

/* Assignments details on hovered day (column to the left of calendar) */


.day-assignments {
    clear: both;
}

.day-assignment {
    margin: 5px 0 17px 0;
    text-align: right;

    .day-assignment-role {
        margin: 7px 0;

        span {
            font-size: 12px;
            color: #FFFFFF;
            border-radius: 4px;
            padding: 7px 10px;
        }
    }

    .day-assignment-avatars {
        margin: 8px 0 12px 0;

        img {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            margin: 4px 0 4px 8px;
        }
    }
}

/* Form shake */

.shake-animation {
    @include shake(1, 1s);
}

/* Employee autocomplete */

$employee-autocomplete-height: 40px;

/* jQuery ui autocomplete on top of everything */
.ui-autocomplete.ui-menu {
    z-index: 10000;
}

.ui-autocomplete.ui-menu {
    display: table;
    border: 0;
    box-shadow: 0 0 5px 1px rgba(#000000, 0.25);
    max-height: 100px;
    overflow-y: auto;

    li.employee-autocomplete-item.ui-menu-item {
        display: table-row;
        padding: 0px;
        height: $employee-autocomplete-height;

        &.ui-state-focus {
            color: #FFFFFF;
            background-image: none;
            background-color: $blue;
        }

        .employee-image {
            display: table-cell;
            &, img {
                width: 34px;
                height: $employee-autocomplete-height - 6px;
            }
            img {
                margin: 3px;
            }
        }

        .employee-name {
            font-size: 12px;
            display: table-cell;
            height: $employee-autocomplete-height;
            vertical-align: middle;
            padding-left: 4px;
            text-align: left;
        }
    }
}

/* Stats inputs */

$counter-width: 20px;

.stats-inputs-container {
    &, .form-control {
        color: $grey-4;
    }

    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;

    .form-control {
        font-size: inherit; /* To inherit from right sidebar content for width responsiveness */
    }

    .stats-space {
        display: inline-block;
    }

    .stat-counter {
        padding: 0;
        text-align: center;

        /* Hide arrows */
        -moz-appearance:textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    .counter-control {
        @include select(none);

        background-color: $grey-2;
        color: mix($grey-3, $grey-4, 50%);
        padding: 3px 4px;
        border-radius: 50%;
        font-size: 10px;
        cursor: pointer;

        &.plus { padding: 3px 4px 3px 5px; }
        &.minus { padding: 3px 5px 3px 4px; }

        &:hover {
            background-color: mix($grey-3, $grey-4, 50%);
            color: $grey-2;
        }
    }

    .mini-assignment-type-label {
        @include select(none);

        color: $grey-0;
        cursor: pointer;
        margin-top: 6px;

        &:hover {
            opacity: 1 !important;

        }
    }
}

/* Progress bar */

$progress-bar-height: 2px;
$progress-bar-color: #337AB7;
$progress-bar-error-color: #DD4444;
$progress-bar-bg: transparent;

.st-progress-bar {
    background-color: $progress-bar-bg;

    &, .st-progress {
        height: $progress-bar-height;
        border-radius: 0 $progress-bar-height / 2 $progress-bar-height / 2 0;
    }

    .st-progress {
        background-color: $progress-bar-color;
        width: 0%;
        transition: width 300ms linear;

        &.error {
            width: 100% !important;
            background-color: $progress-bar-error-color;
            transition: none;
        }
    }
}

/* My Calendar */

.my-calendar-header {
    padding-left: 30px;
}

.my-calendar-right-bar {
    float: right;
    width: 183px;
    height: 50px;
    margin: 0 10px;
}

$available-bg: #6FDF6F;
$mid-available-bg: #EFC932;
$not-available-bg: $light-red;

/* Calendar */

.available {
    @include even-odd(color, $light-fg);
    @include colorize-day($available-bg);
}

.mid-available {
    @include even-odd(color, $light-fg);
    @include colorize-day($mid-available-bg);
}

.not-available {
    @include even-odd(color, $light-fg);
    @include colorize-day($not-available-bg);
}

.availability-input {
    @include select(none);
    opacity: 0.6;
    cursor: pointer;
    display: inline-block;
    float: left;
    width: 41px;
    height: 36px;
    border-radius: 4px;
    margin: 0 0 0 11px;
    padding-top: 11px;
    text-align: center;
    font-size: 16px;
}

.availability-input:first-child {
    margin-left: 0;
}

.availability-input:hover {
    opacity: 0.8;
}

.availability-input.enabled {
    opacity: 1;
}

.availability-input.enabled:hover {
    opacity: 0.8;
}

.availability-inputs-panel .panel-body {
    padding: 17px 17px 15px 17px;
}

.availability-inputs-panel {
    overflow: auto;
    color: $dark-fg;
    font-weight: bold;
    background-color: #eeeeee;
}

$availability-status-height: 30px;

.availability-inputs-container {
    height: $availability-status-height;
    line-height: $availability-status-height;
    padding: 0 1px;
}

.availability-comment.form-control {
    height: 140px;
}

.availability-comment {
    width: 100%;
    margin-top: 20px;
    font-weight: normal;
}

.availability-confirm-button {
    float: right;
    margin-top: 10px;
}

@for $i from 1 through 100 {
    .assignment-count-#{$i} {
        position: relative;

        &::before {
            content: "#{$i}";
            position: absolute;
            top: 31px;
            left: 39px;
            width: 13px;
            height: 13px;
            line-height: 13px;
            border-radius: 3px;
            background-color: $grey-1;
            color: $grey-4;
            font-size: 10px;
        }

        &.today::before {
            top: 26px;
            left: 34px;
        }
    }
}

/* Responsiveness */

.stats-space {
    width: 5px;
}

.right-sidebar-content {
    font-size: 14px;
}

.stats-inputs-container, .employee-card {
    padding-left: 15px;
    padding-right: 15px;
}
.form-control.stat-counter {
    width: 28px;
}

.mini-assignment-type-label {
    width: 23px;
    margin-left: 6px;
}

@media (min-width: 2000px)                         { .day { width: 60px; height: 50px; }
                                                     .view-calendar-wrapper { margin-top: 54px; }
                                                     .calendar-header { margin-top: -54px; }
                                                     .legend .day { width: 36px; height: 32px; }
                                                   }
@media (min-width: 1648px) and (max-width: 2000px) { .day { width: 55px; height: 47px; }
                                                     .view-calendar-wrapper { margin-top: 51px; }
                                                     .calendar-header { margin-top: -51px; }
                                                     .legend .day { width: 36px; height: 32px; }
                                                   }
@media (min-width: 1355px) and (max-width: 1648px) { .day { width: 45px; height: 38px; }
                                                     .view-calendar-wrapper { margin-top: 42px; }
                                                     .calendar-header { margin-top: -42px; }
                                                     .legend .day { width: 36px; height: 32px; }
                                                     .right-sidebar-content { font-size: 13px; }
                                                     .stats-inputs-container, .employee-card { padding-left: 13px;
                                                                                               padding-right: 13px; }
                                                     .stats-space { width: 2.5px; }
                                                     .mini-assignment-type-label { width: 21px; margin-left: 4px; }
                                                   }
@media (max-width: 1355px)                         { .day { width: 38px; height: 33px; }
                                                     .view-calendar-wrapper { margin-top: 29px; }
                                                     .calendar-header { margin-top: -29px; }
                                                     .calendar-header .month, .month { width: 75px; }
                                                     .legend .day { width: 26px; height: 23px; }
                                                     .month, .day { font-size: 13px; }
                                                     .right-sidebar-content { font-size: 12px; }
                                                     .stats-inputs-container, .employee-card { padding-left: 11px;
                                                                                               padding-right: 11px; }
                                                     .stats-space { width: 0; }
                                                     .mini-assignment-type-label { width: 18px; margin-left: 3px; }
                                                     .main { padding: 0 5px; }
                                                     .st-progress-bar, .header { margin: 0 -5px; }
                                                     .left-bar { width: 110px; margin: 0 5px 0 0; }
                                                     .right-bar { margin: 0 0 0 5px; }
                                                     .form-control.stat-counter { width: 18px; }
                                                     .header .group-name { font-size: 20px; }
                                                     .assignment-type-label { margin-left: 14px;
                                                                              padding-right: 17px;
                                                                              padding-left: 17px; }
                                                     .day-assignment .day-assignment-role span { font-size: 11px;
                                                                                                 padding-left: 8px;
                                                                                                 padding-right: 8px; }
                                                     .left-sidebar .nav { font-size: 13px; }
                                                   }
@media (max-width: 1136px)                         { .left-bar, .left-bar .stamp { width: 96px; }
                                                     .right-bar, .right-bar .stamp, .bucket { width: 102px; }
                                                     .assignment-type-label { margin-left: 10px;
                                                                              padding-right: 10px;
                                                                              padding-left: 10px; }
                                                     .legend { display: none; }
                                                     .stats-label { display: none; }
                                                     .day-assignment .day-assignment-role span { font-size: 10px;
                                                                                                 padding-left: 7px;
                                                                                                 padding-right: 7px; }
                                                     .bucket .bucket-name { font-size: 11px;
                                                                            top: 5px; }
                                                     .left-sidebar .nav { font-size: 12px; }
                                                     .left-sidebar .nav li a { padding-left: 10px; padding-right: 10px; }
                                                   }
@media (max-width: 1020px)                         { .day { width: 32px; height: 28px; }
                                                     .stats-inputs-container .counter-control { display: none; }
                                                     .assignment-type-label { margin-left: 5px; }
                                                     .right-sidebar-content { font-size: 10px; }
                                                   }




