body {
    padding-top: 50px;
}

/* Sidebar */

.sidebar {
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Text rotation */

.rotate90deg {
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
}

/* Calendar */

.calendar {
    border-collapse: separate;
    border-spacing: 4px;
}
.calendar-cell {
}
.calendar-scroll-box {
    overflow: auto;
}
.week:hover {
    background-color: #DDDDDD;
}
.week.first {
    border-top: 1px solid #000;
}
.month, .day {
    color: #8D8D8D;
    border-radius: 2px;
}
.month {
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
.day {
    width: 33px;
    height: 33px;
    vertical-align: middle;
    text-align: center;
    cursor: default;
}
.day.odd, .month.odd {
    background-color: #D5D5D5;
}
.day.even, .month.even {
    background-color: #EEEEEE;
}
.day.today {
    color: #FFFFFF;
    background-color: #FFAA25;
}
.day:hover {
    color: #FFFFFF;
    background-color: #2EC3E5;
}

/* Group */
#group-tab {
    position: fixed;
    top: 51px;
    bottom: 0;
    width: 100%;
}
#group-tab .calendar-scroll-box {
    /* height: Height defined on runtime */
    /* TODO: Remove scrolbar */
    height: 700px;
}