body {
    padding-top: 50px;
}

/* Text rotation */

.rotate90deg {
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
}

/* Calendar */

.view-calendar, .legend {
    border-collapse: separate;
    border-spacing: 4px;
}
.view-calendar-wrapper {
    display: inline-block;
    overflow: auto;
    margin-top: 54px; /* 50 + 4*/
}
.week:hover {
    background-color: #DDDDDD;
}
.week.first {
    border-top: 1px solid #000;
}
.month, .day {
    color: #8D8D8D;
    border-radius: 2px;
    font-size: 15px;
    cursor: default;
}
.month {
    width: 85px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
.day {
    width: 60px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: default;
}
.day.odd, .month.odd {
    color: #828282;
    background-color: #D9D9D9;
}
.day.even, .month.even {
    background-color: #EEEEEE;
}
.day.today {
    color: #FFFFFF;
    background-color: #FFAA25;
}
.hoverable .day:hover, .day.hover {
    color: #FFFFFF;
    background-color: #2EC3E5;
}
.calendar-header {
    margin-top: -54px;
    border-spacing: 4px 0;
    position: fixed;
}
.calendar-header .month {
    vertical-align: middle;
    text-align: center;
    width: 85px;
}
.calendar-header .day, .calendar-header .month {
    color: #E9E9E9;
    background-color: #828282;
}

/* Header */

.header {
    color: #8D8D8D;
    font-size: 22px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
    margin: 0 -15px 15px -15px;
    padding: 18px 15px 17px 15px;
}

/* Dual pane */

.sidebar {
    padding: 15px 0 0 0;
    background-color: #f5f5f5;
    border-right: 1px solid #EEEEEE;
    height: 100%;
}

.dual-pane {
    position: fixed;
    top: 51px;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.dual-pane .view-calendar-wrapper {
    /* height: Height defined on runtime */
    /* TODO: Remove scrolbar */
    height: 700px;
}

.dual-pane .sidebar {
    padding: 20px;
}

.dual-pane .sidebar .top-search {
    margin: -20px -20px 0 -20px;
    padding: 13px 12px 13px 12px;
    background-color: #E8E8E8;
}

.dual-pane .sidebar ul {
    margin: 0 -20px;
}

.dual-pane .sidebar .active, .dual-pane .sidebar .active a {
    color: #FFFFFF;
    background-color: #428bca;
}

/* Group tab */

#group-tab .calendar-wrap {
    display: table;
    margin: 0 auto;
    position: relative;
}

.left-bar {
    float: left;
    margin: 0 15px 0 0;
}

.right-bar {
    float: right;
    margin: 0 0 0 15px;
    /* Making up space for the legend */
    width: 200px;

}

.legend {
    color: #828282;
    position: absolute;
    bottom: 0;
}

.legend .day {
    width: 40px;
    height: 35px;
}

.legend .description {
    padding-left: 5px;
}

.tools {
    text-align: right;
    margin: 0 0 20px 0;
}

.invisible {
    visibility: hidden;
}

.day-details .stamp {
    width: 106px;
    float: right;
    color: #FFF;
    background-color: #2EC3E5;
    font-size: 32px;
    line-height: 100%;
    padding: 6px 0 16px 0;
    border-radius: 4px;
    text-align: center;
    position: relative;
}
.day-details .month-label {
    font-size: 19px;
}