body {
    padding-top: 50px;
}

/* Text rotation */

.rotate90deg {
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
}

/* Calendar */

.view-calendar td, .view-calendar th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.view-calendar, .legend {
    border-collapse: separate;
    border-spacing: 4px;
}
.view-calendar-wrapper {
    display: inline-block;
    overflow: auto;
    margin-top: 54px; /* 50 + 4*/
}
.week:hover {
    background-color: #DDDDDD;
}
.week.first {
    border-top: 1px solid #000;
}
.month, .day {
    color: #8D8D8D;
    border-radius: 2px;
    font-size: 15px;
    cursor: default;
}
.month {
    width: 85px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
.day {
    width: 60px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: default;
}
.day.odd, .month.odd {
    color: #828282;
    background-color: #D9D9D9;
}
.day.even, .month.even {
    color: #8D8D8D;
    background-color: #EEEEEE;
}
.day.today {
    color: #FFFFFF;
    background-color: #FFAA25;
}
.hoverable .day.today:hover {
    color: #FFFFFF;
    background-color: #FFBB38;
}
.hoverable .day:hover, .day.hover {
    color: #FFFFFF;
    background-color: #2EC3E5;
}

.day.selected {
    color: #FFFFFF;
    background-color: #2EC3E5;
}

.day.today.selected {
    background-color: #97B785;
}

.hoverable .day.today.selected:hover {
    background-color: #A7C795;
}

.hoverable .day.selected:hover {
    background-color: #3ED3F5;
}

/*.hoverable .day.odd.selected:hover {
    color: #828282;
    background-color: #D9D9D9;
}
.hoverable .day.even.selected:hover {
    color: #8D8D8D;
    background-color: #EEEEEE;
}*/

.calendar-header {
    margin-top: -54px;
    border-spacing: 4px 0;
    position: fixed;
}
.calendar-header .month {
    vertical-align: middle;
    text-align: center;
    width: 85px;
}
.calendar-header .day, .calendar-header .month {
    color: #E9E9E9;
    background-color: #828282;
}

/* Header */

.header {
    color: #8D8D8D;
    font-size: 22px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
    margin: 0 -15px 15px -15px;
    padding: 18px 15px 17px 15px;
}

/* Dual pane */

.sidebar {
    padding: 15px 0 0 0;
    background-color: #f5f5f5;
    border-right: 1px solid #EEEEEE;
    height: 100%;
}

.dual-pane {
    position: fixed;
    top: 51px;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.dual-pane .view-calendar-wrapper {
    /* height: Height defined on runtime */
    /* TODO: Remove scrolbar */
    height: 700px;
}

.dual-pane .sidebar {
    padding: 20px;
}

.dual-pane .sidebar .top-search {
    margin: -20px -20px 0 -20px;
    padding: 13px 12px 13px 12px;
    background-color: #E8E8E8;
}

.dual-pane .sidebar ul {
    margin: 0 -20px;
}

.dual-pane .sidebar .active, .dual-pane .sidebar .active a {
    color: #FFFFFF;
    background-color: #428bca;
}

.dual-pane .span-height {
    height: 100%;
}

/* Group tab */

#group-tab .calendar-wrap {
    display: table;
    margin: 0 auto;
    position: relative;
}

.left-bar {
    float: left;
    margin: 0 15px 0 0;
}

.right-bar {
    float: right;
    margin: 0 0 0 15px;
    /* Making up space for the legend */
    width: 200px;
    height: 50px;
}

.legend {
    color: #828282;
    position: absolute;
    bottom: 0;
}

.legend .day {
    width: 40px;
    height: 35px;
}

.legend .description {
    padding-left: 5px;
}

.tools {
    text-align: right;
    margin: 0 0 20px 0;
}

.invisible {
    visibility: hidden;
}

/* Stamps */

.stamp {
    width: 106px;
    padding: 12px 0 12px 0;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.stamp .sub-label {
    font-size: 19px;
}
.stamp .main-label {
    font-size: 32px;
    line-height: 38px;
}

.day-stamp {
    color: #FFF;
    background-color: #2EC3E5;
    float: right;
}

.day-stamp.today {
    color: #FFFFFF;
    background-color: #FFAA25;
}



.selection-stamp {
    color: #FFF;
    background-color: #2EC3E5;
    float: left;
    cursor: pointer;
}

.selection-stamp:hover {
    background-color: #FE9395;
}

/* Employee card */

.employee-card {
    padding: 6px 10px;
    color: #828282;
}

.employee-card.hoverable:hover {
    background-color: #EEEEEE;
}

.employee-card .avatar-wrapper {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.employee-card .avatar-wrapper.with-image img {
    border-radius: 50%;
}

.employee-card .avatar-wrapper.with-image .text-hover {
    display: none;
}

.employee-card .avatar-wrapper.with-image:hover .text-hover {
    font-size: 32px;
    display: inline;
    color: #FFF;
}

.employee-card .avatar-wrapper.with-image:hover img {
    display: none;
}

.employee-card .avatar-wrapper.with-image:hover {
    background-color: #CC5555;
}

.employee-card .avatar-wrapper.no-image, .employee-card .avatar-wrapper.with-image:hover {
    font-size: 31px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.employee-card .avatar-wrapper.add {
    color: #828282;
    background-color: #D9D9D9;
}

.employee-card .avatar-wrapper.add:hover {
    color: #E9E9E9;
    background-color: #828282;
}


.employee-card .name {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    padding: 0 10px 0 10px;
}

.clear {
    clear: both;
}

/* AssignmentType buckets */

.bucket {
    border: 2px dashed #8B8484;
    border-radius: 4px;
    width: 150px;
    height: 100px;
    margin: 10px 0;
    background-color: #ddd;
}

.bucket .bucket-name {
    color: #AAA;
    font-size: 16px;
    margin: 5px;
}

/* New Group form */

.new-group-form {
    padding: 10px 10px 0px 10px;
}

/* Deletable card */

.deletable-card a {
    position: relative;
}

.deletable-card .delete {
    position: absolute;
    top: 23%;
    right: 15px;
    display: none;
    font-size: 30px;
    color: white;
    height: 21px;
    width: 23px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #CC5555;
}

.deletable-card .delete div {
    text-align: center;
    position: absolute;
    top: -62%;
    width: 23px;
}

.deletable-card .content:hover .delete {
    display: block;
}

.deletable-card .delete:hover {
    display: block;
    background-color: #DC143C;
}

/* drag and drop */

.drag-over {
    border: 2px dashed black !important;
}

.drop-target {
    opacity: .5;
}

.drag-in-progress * {
    pointer-events: none !important; /* prevent children to interfere with drag and drop */
}

[draggable] {
    cursor: move;
    cursor: -webkit-grab; // hand for chrome and safari
}

.ghost-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
