<div class="view-calendar-wrapper align-parent-bottom"
    discount-height="66"
    scroller
    previous-chunk-method="loadPreviousMonth"
    next-chunk-method="loadNextMonth"
    number-of-loaded-chunks-per-scroll="1"
    on-scroll="onScroll"
    ng-class="{'invisible': !showCalendar}">

    <table class="calendar-header view-calendar">
        <tr>
            <th class="day">Sun</th>
            <th class="day">Mon</th>
            <th class="day">Tue</th>
            <th class="day">Wed</th>
            <th class="day">Thu</th>
            <th class="day">Fri</th>
            <th class="day">Sat</th>
            <th class="month">Month</th>
        </tr>
    </table>

    <table class="view-calendar"
            ng-class="{'hoverable': showHover}">
        <tr ng-repeat="week in calendar" ng-class="{
            'first': week.firstOfTheMonth,
            'week': true,
            'pending': week.pending || !week.loaded
        }">
            <td
                class="day"
                ng-repeat="day in week.days"
                st-tooltip="{{showTooltip}}"
                ng-attr-title="{{tooltip(day)}}"
                ng-mousedown="onMouseDown(day, $event)"
                ng-mouseup="onMouseUp(day, $event)"
                ng-mouseenter="onMouseEnter(day, $event)"
                ng-class="cellClass(day, week)"
                >
                {{day.date.getDate()}}
            </td>
            <td ng-if="week.firstOfTheMonth" rowspan="{{week.month.nweeks}}" ng-class="{
                'month': true,
                'even': week.month.number % 2 == 0,
                'odd': week.month.number % 2 == 1,
            }">
                {{week.month.name}}<br />
                {{week.month.year}}
            </td>
        </tr>
    </table>
</div>