<div class="employee-card hoverable deletable-card">
    <div class="avatar-wrapper with-image">
        <div class="avatar-image-wrapper">
            <img class="avatar-image" ng-src="{{employee.imageUrlTemplate}}" width="50" height="50" />
            <div
                class="admin-icon"
                ng-class="{
                    'is-admin': employee.groupAdmin && !employee.globalAdmin,
                    'not-admin': !employee.groupAdmin && !employee.globalAdmin,
                    'global-admin': employee.globalAdmin,
                    'editable': isGroupAdmin(group)}"
                ng-click="toggleAdminClicked(employee)">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="delete-admin">-</span>
            </div>
        </div>
    </div>
    <div
        st-name="employeeNameContainer"
        class="name"
        >
        <span st-name="employeeName" ng-style="employeeNameStyle">
            {{employee.name | characters: 60}}
        </span>
        <if st-if="isGroupMemberOrGlobalAdmin(group)">
            <div
                st-name="sampleBadge"
                ng-repeat="(id, stat) in employee.statistics | orderObjectBy: 'assignmentType.name':true"
                class="mini-assignment-type-label assignment-color-{{stat.assignmentType.index % 10}}"
                ng-class="{'no-assignments-label': stat.count == 0 }"
                 >
                {{stat.count}}
            </div>
        </if>
        <div st-if="(group == undefined && isGlobalAdmin()) || isGroupAdmin(group)" class="delete" ng-click="remove()">
            <div>-</div>
        </div>
    </div>
    <div class="clear"></div>
</div>