<div class="employee-card hoverable deletable-card">
    <div class="avatar-wrapper with-image">
        <img ng-src="{{employee.imageUrlTemplate}}" width="50" height="50" />
    </div>
    <div class="name">
        <span>{{employee.name}}</span>
        <div
            ng-repeat="(index, stat) in employee.statistics | orderBy:'assignmentType.name':true"
            class="mini-assignment-type-label assignment-color-{{(employee.statistics.length - 1 - index)%10}}"
            ng-class="{'no-assignments-label': stat.count == 0 }"
             >
            {{stat.count}}
        </div>
        <div class="delete" ng-click="remove()">
            <div>-</div>
        </div>
    </div>
    <div class="clear"></div>
    <div st-if="isGroupAdmin(group)" class="delete" ng-click="remove()">
        <div>-</div>
    </div>
</div>