<div id="group-tab" class="row">
    <div ng-init="selectedGroup = {name: groupList[0].name}" class="col-md-2 sidebar">
        <ul class="list-unstyled">
            <li>
                <input type="text" ng-model="groupNameSearch" class="form-control" placeholder="Search Group">
            </li>
        </ul>
        <ul class="nav nav-sidebar" role="navigation" ng-repeat="group in groupList | filter: groupNameSearch">
            <li ng-class="{'active': group.name == selectedGroup.name}"><a ng-click="selectedGroup.name = group.name">{{group.name}}</a></li>
        </ul>
    </div>
    <div class="col-md-10 main">
        <h1>Calendar</h1>
        <calendar></calendar>
    </div>
</div>
