<div class="col-md-7 main align-parent-bottom" discount-height="70">
    <h1 class="header">
        <img ng-if="availabilityCalendarMode" ng-src="{{selectedEmployee.imageUrlTemplate}}" class="selected-employee-image"/>
        <span class="group-name">{{selectedGroup.name}}</span>&nbsp;
        <div class="assignment-types-wrapper">
            <div
                ng-repeat="(index, assignmentType) in selectedGroup.assignmentTypes | orderBy: 'name':true"
                class="assignment-type-label assignment-color-{{assignmentType.index % 10}}">
                {{assignmentType.name}}
                <div st-if="isGroupAdmin(selectedGroup)" class="delete" ng-click="deleteAssignmentType(assignmentType)">-</div>
            </div>
            <span style="visibility: hidden;">&nbsp;</span> <!-- Hack to fix a chrome bug -->
        </div>
        <span
            st-if="isGroupAdmin(selectedGroup)"
            class="add-assignment-type"
            ng-click="addAssignmentTypeButtonClick()"
            >
            +
        </span>
        <!-- TODO: Remove timeout hack, wrap both the + and input in a parent and put ng-blur there -->
        <!-- TODO: Also remove everything from inside the h1, make the .header a div etc -->
        <div class="assignment-type-form">
            <input
                st-name="assignmentTypeInput"
                ng-show="isCreatingAssignmentType"
                ng-focus="isCreatingAssignmentType"
                ng-blur="onInputBlur()"
                class="form-control"
                type="text"
                ng-model="newAssignmentTypeName"
                placeholder="Name"
                ng-enter="assignmentTypeInputEnter()"
                />
        </div>
    </h1>

    <calendar-progress-bar expose-api-to="progressBar" calendar="calendar">
    </calendar-progress-bar>

    <div class="calendar-wrap align-parent-bottom" discount-height="70">
        <div class="left-bar">
            <div class="tools">
                <button type="button" ng-click="goToToday()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                    &nbsp; Today
                </button>
            </div>
            <div class="stamp day-stamp" ng-class="{'today': dayStamp.isToday()}">
                <div class="sub-label">{{dayStamp.getMonthName()}}</div>
                <div class="main-label">{{dayStamp.getDate()}}</div>
            </div>
            <div ng-if="hasAssignment(hoveredDay)" class="day-assignments">
                <div
                    ng-repeat="(index, employees) in hoveredDay.content.assignments | orderByExpressionAppliedOnTheKey: orderHoveredDayBy"
                    class="day-assignment"
                    ng-if="showHoveredDayEmployees(hoveredDay, employees)"
                    >
                    <div class="day-assignment-role">
                        <span class="assignment-color-{{index % 10}}">
                            {{selectedGroup.assignmentTypeFor(employees.key).name}}
                        </span>
                    </div>
                    <div class="day-assignment-avatars" ng-if="!availabilityCalendarMode">
                        <img
                            ng-repeat="employee in employees"
                            ng-src="{{employee.imageUrlTemplate}}"
                            />
                    </div>
                </div>
            </div>

        </div>
        <calendar
            class="calendar align-parent-bottom"
            discount-height="70"
            on-select-days="onSelectDays"
            on-hover-day="onHoverDay"
            on-load-day-content="onLoadDayContent"
            expose-api-to="calendar"
            cell-class="getCellClass(day)"
            get-day-tooltip="getDayTooltip"
            >



        </calendar>
        <div class="right-bar">

            <div ng-if="!availabilityCalendarMode && selectedDates.length > 0">
                <div ng-click="clearSelection()" class="stamp selection-stamp" >
                    <div class="main-label">{{selectedDates.length}}</div>
                    <div class="sub-label">Days Selected</div>
                </div>
                <div class="clear"></div>
                <div class="assignment-type-buckets">
                    <div class="bucket"
                         ng-repeat="assignmentTypeBucket in assignmentTypeBuckets | orderObjectBy: 'assignmentType.name'"
                         ng-droppable="isGroupAdmin(selectedGroup)"
                         ng-on-drop="addAssignment(data, assignmentTypeBucket.assignmentType)">
                        <div class="bucket-name">{{assignmentTypeBucket.assignmentType.name}}</div>
                        <div class="bucket-content">
                            <div
                                ng-repeat="employee in assignmentTypeBucket.employeeList"
                                class="assigned-employee"
                                ng-class="{'is-admin': isGroupAdmin(selectedGroup)}"
                                ng-click="deleteAssignmentsIfHasPrivileges(employee, assignmentTypeBucket.employeeList)"
                                >
                                <img
                                    ng-src="{{employee.employee.imageUrlTemplate}}"
                                    width="100%"
                                    height="100%"/>
                                <span
                                    st-if="isGroupAdmin(selectedGroup)"
                                    class="minus-span">-</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table
                ng-init="legendToggle = false"
                class="legend hint"
                ng-mouseenter="legendToggle = true"
                ng-hide="legendToggle"
                >
                <tr>
                    <td class="day today"></td>
                    <td class="description">Legend</td>
                </tr>
            </table>

            <table
                class="legend full"
                ng-mouseleave="legendToggle = false"
                ng-show="legendToggle"
                >
                <tr ng-if="!availabilityCalendarMode">
                    <td class="day odd"></td>
                    <td class="day even"></td>
                    <td class="description">Empty days</td>
                </tr>
                <tr ng-click="goToToday()">
                    <td class="day today"></td>
                    <td class="description" colspan="2">Today</td>
                </tr>
                <tr>
                    <td class="day hover"></td>
                    <td class="description" colspan="2">Selected</td>
                </tr>
                <tr  ng-if="!availabilityCalendarMode">
                    <td class="day mid-assigned"></td>
                    <td class="description" colspan="2">Partially Assigned</td>
                </tr>
                <tr ng-if="!availabilityCalendarMode">
                    <td class="day assigned"></td>
                    <td class="description" colspan="2">Fully Assigned</td>
                </tr>
                <tr ng-if="availabilityCalendarMode" ng-repeat="availabilityState in availabilityStates">
                    <td class="day {{availabilityState.label}}"></td>
                    <td class="description" colspan="2">{{availabilityState.title}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<div class="col-md-3 sidebar right-sidebar align-parent-bottom" discount-height="70">
    <div style="height: 100%;">
        <div class="top-search">
            <input class="form-control" type="text" ng-model="employeeSearch" placeholder="Search Employee">
        </div>
        <ul
            ng-controller="EmployeesController"
            class="nav nav-sidebar align-parent-bottom right-sidebar-content"
            discount-height="65"
            role="navigation"
            >
            <div st-if="isGroupMemberOrGlobalAdmin(selectedGroup)" class="stats-inputs-container form-inline">
                <span class="stats-label">Past</span>

                <span class="stats-space"></span>

                <span ng-click="incrementStatCounter(-1)" class="counter-control minus"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>

                <input ng-model="stat.selected.counter" type="number" min="0" value="3" class="form-control stat-counter" />

                <span ng-click="incrementStatCounter(+1)" class="counter-control plus"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>

                <span class="stats-space"></span>

                <select
                    ng-options="id as item.label for (id, item) in stat.units"
                    ng-model="stat.selected.unit"
                    class="form-control"
                    >
                </select>

                <div
                    ng-repeat="(index, assignmentType) in selectedGroup.assignmentTypes | orderBy: 'name':true"
                    ng-click="updateEmployeesOrder(assignmentType)"
                    class="mini-assignment-type-label assignment-color-{{assignmentType.index % 10}}"
                    ng-style="getAssignmentTypeHeaderStyle(assignmentType)"
                    >
                    <!-- Figure out a way to initialize -->
                    <span class="glyphicon glyphicon-triangle-{{(assignmentType.desc) ? 'bottom' : 'top'}}"></span>
                </div>
            </div>
            <div class="employees-container overflow-scroll align-parent-bottom" discount-height="65">
                <div ng-draggable="isGroupAdmin(selectedGroup)"
                     ghost-element=".avatar-wrapper .avatar-image"
                     ng-repeat="employee in selectedGroup.employees | filter: employeeSearch | orderBy: employeeOrderKey"
                     drag-data=employee
                     ng-class="{'employee-mid-available': employeeRestrictions[employee.id] == 1,
                                'employee-not-available': employeeRestrictions[employee.id] == 2}">
                    <employee-card
                            employee="employee"
                            group="$parent.selectedGroup"
                            remove="deleteEmployee(employee)"
                            toggle-admin="toggleAdmin"
                            on-click="selectEmployee"
                            select-employee="selectedEmployee.id == employee.id"
                            >
                    </employee-card>
                </div>
            </div>

            <div st-if="isGroupAdmin(selectedGroup)" class="employee-card">
                <div
                    class="avatar-wrapper no-image add"
                    ng-class="{'selected-employee-add': newEmployee }"
                    st-try-background-image="newEmployee.photo"
                    ng-click="triggerAddEmployee()"
                    >
                    <span>+</span>
                </div>

                <div class="name with-input ui-widget">
                    <yammer-autocomplete-input
                            on-select-autocomplete="onSelectAutocomplete"
                            on-key-down="userInuptKeyDown"
                            on-enter="userInputEnter"
                            expose-api-to="employeeInput"
                            display-above="true">
                    </yammer-autocomplete-input>
                </div>
                <div class="clear"></div>
            </div>
        </ul>
    </div>
</div>
