<div
    class="col-md-7 main align-parent-bottom"
    discount-height="51"
    ng-class="{
        'employee-mode': availabilityCalendarMode,
        'normal-mode': !availabilityCalendarMode
    }"
    >
    <h1 class="header">
        <div st-tooltip="true"
             ng-attr-title="{{availabilityModeTooltip}}"
             temporary-tooltip="true" tooltip-delay="2000"
             ng-click="clearEmployeeSelection()"
             ng-if="availabilityCalendarMode"
             class="availability-mode-image-container"
             >
            <img ng-src="{{selectedEmployee.imageUrlTemplate}}" class="selected-employee-image"/>
            <span class="minus-span">-</span>
        </div>
        <span class="group-name">{{selectedGroup.name}}</span>&nbsp;
        <div ng-if="isGroupAdmin(selectedGroup)" class="group-settings-cog">
            <span class="glyphicon glyphicon-cog" ng-click="groupSettingsModal()"></span>
        </div>
        <div class="assignment-types-wrapper">
            <div
                ng-repeat="(index, assignmentType) in selectedGroup.assignmentTypes | orderBy: 'id':true"
                class="assignment-type-label assignment-color-{{(selectedGroup.assignmentTypes.length - 1 - index) % 10}}"
                ng-class="{'is-admin': isGroupAdmin(selectedGroup)}">
                {{assignmentType.name}}
                <div st-if="isGroupAdmin(selectedGroup)" class="delete" ng-click="deleteAssignmentType(assignmentType)">-</div>
            </div>
            <span style="visibility: hidden;">&nbsp;</span> <!-- Hack to fix a chrome bug -->
        </div>
        <span
            st-if="isGroupAdmin(selectedGroup)"
            class="add-assignment-type"
            ng-click="addAssignmentTypeButtonClick()"
            >
            +
        </span>
        <!-- TODO: Remove timeout hack, wrap both the + and input in a parent and put ng-blur there -->
        <!-- TODO: Also remove everything from inside the h1, make the .header a div etc -->
        <div class="assignment-type-form">
            <input
                st-name="assignmentTypeInput"
                ng-show="isCreatingAssignmentType"
                ng-focus="isCreatingAssignmentType"
                ng-blur="onInputBlur()"
                class="form-control"
                type="text"
                ng-model="newAssignmentTypeName"
                placeholder="Name"
                ng-enter="assignmentTypeInputEnter()"
                />
        </div>
    </h1>

    <calendar-progress-bar expose-api-to="progressBar" calendar="calendar">
    </calendar-progress-bar>

    <div class="calendar-wrap align-parent-bottom" discount-height="70">
        <div class="left-bar">
            <div class="tools">
                <button type="button" ng-click="goToToday()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                    &nbsp; Today
                </button>
            </div>
            <div class="stamp day-stamp" ng-class="{'today': dayStamp.isToday()}">
                <div class="sub-label">{{dayStamp.getMonthName()}}</div>
                <div class="main-label">{{dayStamp.getDate()}}</div>
            </div>
            <div ng-if="hasAssignment(hoveredDay)" class="day-assignments">
                <div
                    ng-repeat="(index, employees) in hoveredDay.content.assignments | orderByExpressionAppliedOnTheKey: orderHoveredDayBy"
                    class="day-assignment"
                    ng-if="showHoveredDayEmployees(hoveredDay, employees)"
                    >
                    <div class="day-assignment-role">
                        <span class="assignment-color-{{index % 10}}">
                            {{selectedGroup.assignmentTypeFor(employees.key).name}}
                        </span>
                    </div>
                    <div class="day-assignment-avatars" ng-if="!availabilityCalendarMode">
                        <img
                            ng-repeat="employee in employees | orderBy: 'name'"
                            ng-src="{{employee.imageUrlTemplate}}"
                            />
                    </div>
                </div>
            </div>

        </div>
        <calendar
            class="calendar align-parent-bottom"
            discount-height="70"
            on-select-days="onSelectDays"
            on-hover-day="onHoverDay"
            on-load-day-content="onLoadDayContent"
            expose-api-to="calendar"
            cell-class="getCellClass(day)"
            get-day-tooltip="getDayTooltip"
            show-hover="!availabilityCalendarMode"
            >



        </calendar>
        <div class="right-bar">

            <div ng-if="!availabilityCalendarMode && selectedDates.length > 0">
                <div ng-click="clearSelection()" class="stamp selection-stamp" >
                    <div class="main-label">{{selectedDates.length}}</div>
                    <div class="sub-label">Days Selected</div>
                </div>
                <div class="clear"></div>
                <div class="assignment-type-buckets">
                    <div class="bucket"
                         ng-repeat="assignmentTypeBucket in assignmentTypeBuckets | orderObjectBy: 'assignmentType.id'"
                         ng-droppable="isGroupAdmin(selectedGroup)"
                         ng-on-drop="addAssignment(data, assignmentTypeBucket.assignmentType)">
                        <div class="bucket-name">{{assignmentTypeBucket.assignmentType.name}}</div>
                        <div class="bucket-content">
                            <div
                                ng-repeat="employee in assignmentTypeBucket.employeeList | orderObjectBy: 'employee.name'"
                                class="assigned-employee"
                                ng-class="{'is-admin': isGroupAdmin(selectedGroup)}"
                                ng-click="deleteAssignmentsIfHasPrivileges(employee, assignmentTypeBucket.employeeList)"
                                st-tooltip="true"
                                ng-attr-title="{{employee.employee.name}}"
                                my="left bottom-5"
                                at="left-10 top"
                                >
                                <img
                                    ng-src="{{employee.employee.imageUrlTemplate}}"
                                    width="100%"
                                    height="100%"/>
                                <span
                                    st-if="isGroupAdmin(selectedGroup)"
                                    class="minus-span">-</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table
                ng-init="legendToggle = false"
                class="legend legend-hint"
                ng-mouseenter="legendToggle = true"
                ng-hide="legendToggle"
                >
                <tr>
                    <td class="day today"></td>
                    <td class="description">Legend</td>
                </tr>
            </table>

            <table
                class="legend legend-full"
                ng-mouseleave="legendToggle = false"
                ng-show="legendToggle"
                >
                <tr ng-if="!availabilityCalendarMode">
                    <td class="day odd"></td>
                    <td class="day even"></td>
                    <td class="description">Empty days</td>
                </tr>
                <tr ng-click="goToToday()">
                    <td class="day today"></td>
                    <td class="description" colspan="2">Today</td>
                </tr>
                <tr ng-if="!availabilityCalendarMode">
                    <td class="day hover"></td>
                    <td class="description" colspan="2">Selected</td>
                </tr>
                <tr ng-if="!availabilityCalendarMode">
                    <td class="day mid-assigned"></td>
                    <td class="description" colspan="2">Partially Assigned</td>
                </tr>
                <tr ng-if="!availabilityCalendarMode">
                    <td class="day assigned"></td>
                    <td class="description" colspan="2">Fully Assigned</td>
                </tr>
                <tr ng-if="availabilityCalendarMode" ng-repeat="availabilityState in availabilityStates">
                    <td class="day {{availabilityState.label}}"></td>
                    <td class="description" colspan="2">{{availabilityState.title}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<div class="col-md-3 sidebar right-sidebar align-parent-bottom" discount-height="70">
    <div style="height: 100%;">
        <div class="top-search">
            <input class="form-control" type="text" ng-model="employeeSearch" placeholder="Search Employee">
        </div>
        <ul
            ng-controller="EmployeesController"
            class="nav nav-sidebar align-parent-bottom right-sidebar-content"
            discount-height="65"
            role="navigation"
            >
            <div
                st-if="isGroupMemberOrGlobalAdmin(selectedGroup)"
                class="stats-inputs-container form-inline"
                ng-class="{'edit': isStatEditMode()}"
                >

                <div class="mini-assignment-type-headers">
                    <div class="v-center-wrap">
                        <div
                                ng-repeat="(index, assignmentType) in selectedGroup.assignmentTypes | orderBy: 'id'"
                                ng-click="updateEmployeesOrder(assignmentType)"
                                class="mini-assignment-type-label assignment-color-{{index % 10}}"
                                ng-style="getAssignmentTypeHeaderStyle(assignmentType)"
                                >
                            <span class="glyphicon glyphicon-triangle-{{(assignmentType.desc) ? 'bottom' : 'top'}}"></span>
                        </div>
                        <div
                                ng-click="updateEmployeesOrder(customOrder)"
                                class="mini-assignment-type-label assignment-color-{{selectedGroup.assignmentTypes.length % 10}}"
                                ng-style="getAssignmentTypeHeaderStyle(customOrder)"
                                >
                            <span class="glyphicon glyphicon-sort-by-attributes{{(customOrder.desc) ? '-alt' : ''}}"></span>
                        </div>
                    </div>
                </div>

                <div class="stats-range-selector-container">
                    <div class="v-center-wrap">
                        <span class="stats-label stats-label-from">From </span>
                        <input class="form-control stats-date" type="date" placeholder='mm/dd/yyyy' ng-model="from" required ng-change="dateInputChanged();"/>
                        <span class="stats-label">to </span>
                        <input class="form-control stats-date" type="date" placeholder='mm/dd/yyyy'  ng-model="to" required ng-change="dateInputChanged()"/>
                        <div
                            class="stat-range-edit-button st-tooltip"
                            ng-class="{
                                'active': isStatEditMode()
                            }"
                            ng-click="setStatRangeIfEditMode()"
                            >
                            <div ng-if="!isStatEditMode()" class="st-tooltip-title">
                                First selected a RANGE of days on the calendar then press this button.
                            </div>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="employees-container overflow-scroll align-parent-bottom" discount-height="65">
                <div ng-draggable="isGroupAdmin(selectedGroup)"
                     ghost-element=".avatar-wrapper .avatar-image"
                     ng-repeat="employee in selectedGroup.employees | filter: employeeSearch | orderBy: employeeOrderKey"
                     drag-data=employee
                     ng-class="{'employee-mid-available': employeeRestrictions[employee.id] == 1,
                                'employee-not-available': employeeRestrictions[employee.id] == 2}">
                    <employee-card
                            employee="employee"
                            group="$parent.selectedGroup"
                            remove="deleteEmployee(employee)"
                            toggle-admin="toggleAdmin"
                            on-click="selectEmployee"
                            select-employee="selectedEmployee.id == employee.id"
                            >
                    </employee-card>
                </div>
            </div>

            <div st-if="isGroupAdmin(selectedGroup)" class="employee-card employee-card-add">
                <div
                    class="avatar-wrapper no-image add"
                    ng-class="{'selected-employee-add': newEmployee }"
                    st-try-background-image="newEmployee.photo"
                    ng-click="triggerAddEmployee()"
                    >
                    <span>+</span>
                </div>

                <div class="employee-content with-input ui-widget">
                    <div class="v-center-wrap">
                        <yammer-autocomplete-input
                                on-select-autocomplete="onSelectAutocomplete"
                                on-key-down="userInuptKeyDown"
                                on-enter="userInputEnter"
                                expose-api-to="employeeInput"
                                display-above="true">
                        </yammer-autocomplete-input>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
