<div id="group-tab" class="dual-pane row">
    <div class="col-md-2 sidebar left-sidebar">
        <div class="top-search">
            <input class="form-control" type="text" ng-model="groupSearch" placeholder="Search Group">
        </div>
        <ul class="nav nav-sidebar" role="navigation" ng-repeat="group in groups | filter: groupSearch">
            <li ng-class="{'active': isSelectedGroup(group)}">
                <a href="/#/group/{{group.id}}">{{group.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10 main">
        <h1 class="header">Calendar</h1>
        <calendar></calendar>
    </div>
</div>
