<div class="col-md-8 main">
    <h1 class="header">
        {{selectedGroup.name}}
        <div class="assignment-types-wrapper">
            <div
                ng-repeat="assignmentType in selectedGroup.assignmentTypes"
                class="assignment-type-label sacudido">
                {{assignmentType.name}}
                <div st-if="isGroupAdmin(selectedGroup)" class="delete" ng-click="deleteAssignmentType(assignmentType)">-</div>
            </div>
            <span style="visibility: hidden;">&nbsp;</span> <!-- Hack to fix a chrome bug -->
        </div>
        <span
            st-if="isGroupAdmin(selectedGroup)"
            class="add-assignment-type"
            ng-click="addAssignmentTypeButtonClick()"
            >
            +
        </span>
        <!-- TODO: Remove timeout hack, wrap both the + and input in a parent and put ng-blur there -->
        <!-- TODO: Also remove everything from inside the h1, make the .header a div etc -->
        <div class="assignment-type-form">
            <input
                st-name="assignmentTypeInput"
                ng-show="isCreatingAssignmentType"
                ng-focus="isCreatingAssignmentType"
                ng-blur="onInputBlur()"
                class="form-control"
                type="text"
                ng-model="newAssignmentTypeName"
                placeholder="Name"
                ng-enter="assignmentTypeInputEnter()"
                />
        </div>
    </h1>
    <div class="calendar-wrap">
        <div class="left-bar">
            <div class="tools">
                <button type="button" ng-click="goToToday()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                    &nbsp; Today
                </button>
            </div>
            <div class="stamp day-stamp" ng-class="{'today': dayStamp.isToday()}">
                <div class="sub-label">{{dayStamp.getMonthName()}}</div>
                <div class="main-label">{{dayStamp.getDate()}}</div>
            </div>
            <div ng-if="hoveredDay && hoveredDay.content && hoveredDay.content.assignments" class="day-assignments">
                <div ng-repeat="(roleId, employees) in hoveredDay.content.assignments" class="day-assignment">
                    <div class="day-assignment-role">
                        <span>{{selectedGroup.assignmentTypeFor(roleId).name}}</span>
                    </div>
                    <div class="day-assignment-avatars">
                        <img
                            ng-repeat="employee in employees"
                            ng-src="{{employee.imageUrlTemplate}}"
                            />
                    </div>
                </div>
            </div>

        </div>
        <calendar
                class="calendar"
                on-select-days="onSelectDays"
                on-hover-day="onHoverDay"
                on-load-day-content="onLoadDayContent"
                expose-api-to="calendar"
                >

        </calendar>
        <div class="right-bar">

            <div ng-if="selectedDays.length > 0">
                <div ng-click="clearSelection()" class="stamp selection-stamp" >
                    <div class="main-label">{{selectedDays.length}}</div>
                    <div class="sub-label">Days Selected</div>
                </div>
                <div class="clear"></div>
                <div class="assignment-type-buckets">
                    <div class="bucket"
                         ng-repeat="assignmentTypeBucket in assignmentTypeBuckets"
                         ng-droppable="isGroupAdmin(selectedGroup)"
                         ng-on-drop="addAssignment(data, assignmentTypeBucket.assignmentType)">
                        <div class="bucket-name">{{assignmentTypeBucket.assignmentType.name}}</div>
                        <div class="bucket-content">
                            <div
                                ng-repeat="employee in assignmentTypeBucket.employeeList"
                                class="assigned-employee"
                                ng-class="{'is-admin': isGroupAdmin(selectedGroup)}">
                                <img
                                    ng-src="{{employee.employee.imageUrlTemplate}}"
                                    width="100%"
                                    height="100%"/>
                                <span
                                    st-if="isGroupAdmin(selectedGroup)"
                                    ng-click="deleteAssignments(employee, assignmentTypeBucket.employeeList)"
                                    class="minus-span">-</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <table class="legend">
                <tr>
                    <td class="day odd"></td>
                    <td class="day even"></td>
                    <td class="description">Empty days</td>
                </tr>
                <tr ng-click="goToToday()">
                    <td class="day today"></td>
                    <td class="description" colspan="2">Today</td>
                </tr>
                <tr>
                    <td class="day hover"></td>
                    <td class="description" colspan="2">Selected</td>
                </tr>
                <tr>
                    <td class="day mid-assigned"></td>
                    <td class="description" colspan="2">Partially Assigned</td>
                </tr>
                <tr>
                    <td class="day assigned"></td>
                    <td class="description" colspan="2">Fully Assigned</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<div class="col-md-2 sidebar right-sidebar">
    <div class="top-search">
        <input class="form-control" type="text" ng-model="employeeSearch" placeholder="Search Employee">
    </div>
    <ul class="nav nav-sidebar" role="navigation">
        <div ng-draggable="isGroupAdmin(selectedGroup)"
             ghost-element=".avatar-wrapper"
             ng-repeat="employee in selectedGroup.employees | filter: employeeSearch"
             drag-data=employee>
            <employee-card
                    employee="employee"
                    remove="deleteEmployee(employee)"
                    >
            </employee-card>
        </div>
        <div st-if="isGroupAdmin(selectedGroup)" class="employee-card">
            <div
                class="avatar-wrapper no-image add"
                ng-class="{'selected-employee-add': newEmployee }"
                st-try-background-image="newEmployee.photo"
                ng-click="triggerAddEmployee()"
                >
                <span>+</span>
            </div>

            <div class="name ui-widget">
                <input
                        class="form-control"
                        type="text"
                        st-name="employeeInput"
                        ng-model="newEmployeeName"
                        placeholder="Name"
                        st-autocomplete
                        item-class="employee-autocomplete-item"
                        tags="autocompleteList"
                        get-custom-template="getAutocompleteItem"
                        autocomplete-select="onSelectAutocomplete"
                        ng-change="userInputKeyDown($event)"
                        ng-enter="userInputEnter($event)"
                        />
            </div>
            <div class="clear"></div>
        </div>
    </ul>
</div>
