<div id="group-tab" class="dual-pane row">
    <div class="col-md-2 sidebar left-sidebar">
        <div class="top-search">
            <input class="form-control" type="text" ng-model="groupSearch" placeholder="Search Group">
        </div>
        <ul class="nav nav-sidebar nav-deep" role="navigation">
            
            <li ng-if="anyGroupThat({isMember: true})" class="groups-divider"><a disabled>My Groups</a></li>
            <group-item ng-repeat="group in groups | filter: {isMember: true} |  filter: groupSearch"></group-item>

            <li
                ng-if="anyGroupThat({isMember: false}) && anyGroupThat({isMember: true})"
                class="groups-divider"
                >
                <a disabled>Other Groups</a>
            </li>
            <group-item ng-repeat="group in groups | filter: {isMember: false} |  filter: groupSearch"></group-item>

            <li st-if="isAuthorized(userRoles.globalAdmin)">
                <div class="input-group new-group-form">
                    <input
                        st-name="groupInput"
                        type="text"
                        ng-model="newGroupName"
                        class="form-control"
                        placeholder="Name"
                        ng-enter="createNewGroup()"
                        />
                    <span class="input-group-btn">
                        <button class="st-input-button btn btn-default" type="button" ng-click="createNewGroup()">+
                        </button>
                    </span>
                </div>
            </li>
        </ul>
    </div>

    <div ui-view class="span-height"></div>

</div>
