<div class="dual-pane row">
    <div class="span-height">
        <h1 class="header my-calendar-header">
            My Calendar
        </h1>

        <calendar-progress-bar calendar="calendar" expose-api-to="progressBar">
        </calendar-progress-bar>

        <div class="calendar-wrap align-parent-bottom" discount-height="70">
            <div class="left-bar">
                <div class="tools">
                    <button type="button" ng-click="goToToday()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                        &nbsp; Today
                    </button>
                </div>
                <div class="stamp day-stamp" ng-class="{'today': dayStamp.isToday()}">
                    <div class="sub-label">{{dayStamp.getMonthName()}}</div>
                    <div class="main-label">{{dayStamp.getDate()}}</div>
                </div>
            </div>
            <calendar
                    class="calendar align-parent-bottom"
                    discount-height="70"
                    on-select-days="onSelectDays"
                    on-hover-day="onHoverDay"
                    on-load-day-content="onLoadDayContent"
                    expose-api-to="calendar"
                    cell-class="getCellClass(day)"
                    get-day-tooltip="getDayTooltip"
                    >
            </calendar>
            <div class="my-calendar-right-bar">

                <div ng-if="selectedDays.length > 0">
                    <div ng-click="clearSelection()" class="stamp selection-stamp" >
                        <div class="main-label">{{selectedDays.length}}</div>
                        <div class="sub-label">Days Selected</div>
                    </div>
                    <div class="clear"></div>

                    <div class="panel panel-default availability-inputs-panel">
                        <div class="panel-body">
                            <div class="availability-inputs-container">
                                <div
                                    ng-repeat="availabilityState in availabilityStates"
                                    ng-init="availabilityState.clicked = true"
                                    class="availability-input {{availabilityState.className}} glyphicon"
                                    ng-click="availabilityState.clicked = !availabilityState.clicked"
                                    ng-class="{ 'enabled {{availabilityState.glyphicon}}': availabilityState.clicked}"
                                    >
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <textarea class="availability-comment form-control" ng-model="availabilityComment"></textarea>
                                <div class="clear"></div>
                            </div>
                            <button type="button" class="btn btn-primary availability-confirm-button">
                                Ok
                            </button>
                        </div>
                    </div>
                </div>

                <table
                        ng-init="legendToggle = false"
                        class="legend hint"
                        ng-mouseenter="legendToggle = true"
                        ng-hide="legendToggle"
                        >
                    <tr>
                        <td class="day today"></td>
                        <td class="description">Legend</td>
                    </tr>
                </table>

                <table
                        class="legend full"
                        ng-mouseleave="legendToggle = false"
                        ng-show="legendToggle"
                        >
                    <tr ng-click="goToToday()">
                        <td class="day today"></td>
                        <td class="description" colspan="2">Today</td>
                    </tr>
                    <tr>
                        <td class="day hover"></td>
                        <td class="description" colspan="2">Selected</td>
                    </tr>
                    <tr ng-repeat="availabilityState in availabilityStates">
                        <td class="day {{availabilityState.className}}"></td>
                        <td class="description" colspan="2">{{availabilityState.title}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>