<div class="dual-pane row">
    <div class="span-height">
        <h1 class="header my-calendar-header">
            My Calendar
        </h1>

        <calendar-progress-bar calendar="calendar" expose-api-to="progressBar">
        </calendar-progress-bar>

        <div class="calendar-wrap align-parent-bottom" discount-height="70">
            <div class="my-calendar-left-bar">
                <div class="tools">
                    <button type="button" ng-click="goToToday()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                        &nbsp; Today
                    </button>
                </div>
                <div class="stamp day-stamp" ng-class="{'today': dayStamp.isToday()}">
                    <div class="sub-label">{{dayStamp.getMonthName()}}</div>
                    <div class="main-label">{{dayStamp.getDate()}}</div>
                </div>
                <div ng-if="hasAssignment(hoveredDay)" class="day-assignments assignment-hover-text-group">
                    <div
                            ng-repeat="assignment in hoveredDay.content.assignments"
                            class="day-assignment"
                            >
                        <div class="day-assignment-role">
                            <span class="assignment-hover-text">
                                {{assignment.getFullName()}}
                            </span>
                        </div>

                    </div>
                </div>
            </div>

            <calendar
                    class="calendar align-parent-bottom"
                    discount-height="70"
                    on-select-days="onSelectDays"
                    on-hover-day="onHoverDay"
                    on-load-day-content="onLoadDayContent"
                    expose-api-to="calendar"
                    cell-class="getCellClass(day)"
                    get-day-tooltip="getDayTooltip"
                    >
            </calendar>

            <div class="my-calendar-right-bar">

                <div ng-if="selectedDays.length > 0">
                    <div ng-click="clearSelection()" class="stamp selection-stamp" >
                        <div class="main-label">{{selectedDays.length}}</div>
                        <div class="sub-label">Days Selected</div>
                    </div>
                    <div class="clear"></div>

                    <div class="panel panel-default availability-inputs-panel">
                        <div class="panel-body">
                            <div class="availability-inputs-container">
                                <div
                                    ng-repeat="state in availabilityStates"
                                    ng-click="availability.state = state.label"
                                    class="availability-input {{state.label}}"
                                    ng-class="{
                                        'active': isStateToggleActive(state.label),
                                        'invalid': availability.state == null
                                    }"
                                    >
                                    <span class="glyphicon {{state.glyphicon}}"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <textarea
                                    class="availability-comment form-control"
                                    ng-model="availability.comment.text"
                                    ng-trim="false"
                                    ng-change="availability.comment.valid = true"
                                    ng-class="{'invalid': !availability.comment.valid}"
                                    placeholder="{{getCommentPlaceholder()}}"
                                    >
                                </textarea>
                                <div class="clear"></div>
                            </div>

                            <button
                                type="button"
                                class="btn btn-primary availability-confirm-button"
                                ng-class="{'disabled': !canSubmitChange()}"
                                ng-click="submitAvailabilityChange()"
                                >
                                Ok
                            </button>
                            <p ng-if="canSubmitChange()" class="submit-message">
                                {{selectedDays.length}} days will change
                            </p>
                            <p ng-if="!canSubmitChange()" class="submit-message">
                                Change
                                <span ng-if="!availability.comment.valid">comments</span>
                                <span ng-if="!availability.comment.valid && availability.state == null">and</span>
                                <span ng-if="availability.state == null">label</span>
                            </p>
                        </div>
                    </div>
                </div>

                <table
                        ng-init="legendToggle = false"
                        class="legend hint"
                        ng-mouseenter="legendToggle = true"
                        ng-hide="legendToggle"
                        >
                    <tr>
                        <td class="day today"></td>
                        <td class="description">Legend</td>
                    </tr>
                </table>

                <table
                        class="legend full"
                        ng-mouseleave="legendToggle = false"
                        ng-show="legendToggle"
                        >
                    <tr ng-click="goToToday()">
                        <td class="day today"></td>
                        <td class="description" colspan="2">Today</td>
                    </tr>
                    <tr>
                        <td class="day hover"></td>
                        <td class="description" colspan="2">Selected</td>
                    </tr>
                    <tr ng-repeat="availabilityState in availabilityStates">
                        <td class="day {{availabilityState.label}}"></td>
                        <td class="description" colspan="2">{{availabilityState.title}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>