<div class="panel panel-default">
    <div class="panel-body" style="padding: 9px">
        <div class="row" style="height: 40px">
            <div style="height: 100%" class="col-xs-10 col-sm-6 col-md-6">
                <img style="float:left; max-height: 100%;"
                     src="https://mug0.assets-yammer.com/mugshot/images/96x96/bsrr0LTDpcX3pZvt59FZtn1KTRp5J9Fm"/>
                <div style="text-align: center">{{user.name}}</div>
            </div>
            <div style="height: 100%" class="col-xs-8 col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3" ng-repeat="assignment in user.assignmentList">
                        {{assignment.prefix}}:{{assignment.count}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>